.thumbnail {
    border: 4px solid #f7b633;
    box-shadow: 0 0 0 1px rgba(10,10,10,.2);
    display: inline-block;
    line-height: 0;
    max-width: 100%;
    transition: box-shadow .2s ease-out;
    border-radius: 0;
    margin-bottom: 1rem;
}

.thumbnail:hover{
  opacity: 0.5;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: Times New Roman;
    font-weight: 400;
}
.orbit-container{
   element {
    background-color: rgba(247, 182, 51, 0);
    font-family: Times New Roman;
}

.top-bar{
    padding: .5rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    position: fixed;
    z-index: 1;
    background-color: yellow !important;
}
